/*BURGER MENU*/

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    position: absolute;
    width: 100%;
}

li {}

header nav a {


    text-decoration: inherit;
    /*    text-align: center;*/
    font-family: sans-serif;



}

/*MENU FULD*/



@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;

    }


    ul {
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
        justify-content: space-around;
        background-color: white;

    }

    li {
        flex-direction: row;


    }

}

#logo img {
    position: absolute;
    width: 70px;
    /*    height: 70px;*/
    top: 0px;
    visibility: hidden;
}

#logo1 img {
    position: absolute;
    width: 5rem;
    left: 45%;
}


/*SECTION*/

#sectionwrapper {
    display: flex;
    width: 100%;

}

/*KNAPPER*/

.col {
    display: flex;
    width: 100%;
    justify-content: space-around;



}

.knap {
    flex-basis: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #286EAF;
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;


}

/****GENERALLE INDSTILLINGER SLUT*****/

figure {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

body {
    margin: 0;
}

section,
footer {
    max-width: 1200px;
    margin: 0 auto;
}


img {
    width: 100%;
}


h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #286EAF;
    border-bottom: solid 4px #286EAF;
    /*
    margin: 10px;
    padding: 20px;
*/
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    color: #286EAF;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    color: #286EAF;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: #0D0D0D;
}

/****GENERALLE INDSTILLINGER SLUT*****/

/****OM****/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    /*    border: solid 10px black;*/
    margin: 0.5rem;
    padding: 0 0;
}


#om .col {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 2.4rem;
    padding: 1rem;
    border: solid 4px #286EAF;
}

#om figure {
    width: 520px;
    height: 450px;
}

/****OM SLUT****/

/****BØRN OG UNGE****/

#unge .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    /*    border: solid 10px black;*/
    margin: 0.5rem;
    padding: 0 0;
}


#unge .col {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 2.4rem;
    padding: 1rem;
    border: solid 4px #286EAF;
}


/****BØRN OG UNGE SLUT****/

/****GALLERI****/

#galleri .sectionwrapper {
    display: flex;
    flex-wrap: wrap-reverse;
}

#galleri .col {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 2.4rem;
    padding: 1rem;
    border: solid 4px #286EAF;
}

#galleri .col1 {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 2.4rem;
    padding: 1rem;
    border: solid 4px #286EAF;
}

/****GALLERI SLUT****/

/****NYHEDER****/





/****NYHEDER SLUT****/
> > > > > > > origin/master
